zero-trust/tpm/*.ctx
zero-trust/tpm/*.pem
zero-trust/tpm/*.pub
zero-trust/tpm/*.priv
zero-trust/tpm/*.bin
zero-trust/tpm/*.sig
zero-trust/tpm/*.out
zero-trust/tpm/*.msg
zero-trust/tpm/*.pcrs
zero-trust/tpm/*.hash
zero-trust/utils/__pycache__/*
# Python cache files
**/*.pyc
**/__pycache__/
*.py[cod]
*$py.class

# Agent and log directories
zero-trust/agents/*
zero-trust/logs/*

# Compiled binaries and build artifacts
zero-trust/spire-tpm-plugin/tpm-app-persist
zero-trust/spire-tpm-plugin/tpm-app-evict
zero-trust/spire-tpm-plugin/tpm-app-sign
zero-trust/spire-tpm-plugin/tpm-app-selftest
zero-trust/spire-tpm-plugin/ma-app-*
zero-trust/spire-tpm-plugin/*.o
zero-trust/spire-tpm-plugin/*.ctx
zero-trust/spire-tpm-plugin/*.pem
zero-trust/spire-tpm-plugin/*.pub
zero-trust/spire-tpm-plugin/*.priv
zero-trust/spire-tpm-plugin/*.bin
zero-trust/spire-tpm-plugin/*.sig
zero-trust/spire-tpm-plugin/*.out
zero-trust/spire-tpm-plugin/*.msg
zero-trust/spire-tpm-plugin/*.pcrs
zero-trust/spire-tpm-plugin/*.hash

# Static libraries and libtool files
zero-trust/spire-tpm-plugin/usr/
*.a
*.la
*.so
*.so.*

# TPM binaries
zero-trust/tpm/tpm-app-persist
